h2.section__title
  | The 10 Worst Debt Collection Offenders

p.main-text
  | Our debt collection hall of shame includes the ten companies with the most complaints filed against them with the CFPB per capita nationwide. Numbers one and three, Encore Capital Group and Portfolio Recovery Associates, the two largest publicly traded debt buyers in the country were recently 
  a(href='https://www.nytimes.com/2015/09/10/your-money/debt-collectors-to-pay-61-million-in-consumer-refunds-and-amend-their-practices.html')
    | fined by the CFPB. 

  | Encore was ordered to pay $42 million to repay customers, plus a $10 million penalty, and to stop collections on $125 million worth of debt. That others have not (yet) been subject to enforcement action says little in their favor.

.offenders
  table.offenders__table
    thead
      th #
      th
        | Company 
        span.offenders__table-mob-hidden Logotype & 
        | Name
      th
        span.offenders__complaints-icon
        span.offenders__table-text Complaints Per Million National Average

    tbody
      tr
        td 1
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/encore.png', srcset='images/logo/encore@2x.png 2x')

          span.offenders__table-text-d Encore Capital Group

        td 12.55

      tr
        td 2
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/erc.png', srcset='images/logo/erc@2x.png 2x')

          span.offenders__table-text-d ERC

        td 9.24

      tr
        td 3
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/portfolio.png', srcset='images/logo/portfolio@2x.png 2x')

          span.offenders__table-text-d Portfolio Recovery Associates

        td 8.59

      tr
        td 4
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/convergent.png', srcset='images/logo/convergent@2x.png 2x')

          span.offenders__table-text-d Convergent Resources

        td 5.37

      tr
        td 5
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/tsi.png', srcset='images/logo/tsi@2x.png 2x')

          span.offenders__table-text-d Transworld Systems

        td 4.56

      tr
        td 6
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/diversified.png', srcset='images/logo/diversified@2x.png 2x')

          span.offenders__table-text-d Diversified Consultants

        td 4.22

      tr
        td 7
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/afni.png', srcset='images/logo/afni@2x.png 2x')

          span.offenders__table-text-d AFNI

        td 4.18

      tr
        td 8
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/citibank.png', srcset='images/logo/citibank@2x.png 2x')

          span.offenders__table-text-d Citibank, N.A.

        td 4.06

      tr
        td 9
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/resurgent.png', srcset='images/logo/resurgent@2x.png 2x')

          span.offenders__table-text-d Resurgent Capital Services

        td 3.84

      tr
        td 10
        td
          .offenders__table-logo-wrapper
            picture
              source(media='(max-width: 779px)', srcset='')
              img.offenders__table-logo(src='images/logo/synchrony.png', srcset='images/logo/synchrony@2x.png 2x')

          span.offenders__table-text-d Synchrony Financial

        td 3.73
