include ./table-data

.section.section--table.section--g-table
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | The Worst States and Companies for Invalid Debt Collection Activities

    .breadcrumbs__item
      | Full State Ranking

  h2.section__title Full State Ranking

  .tables-container
    .mobile-only
      table.ranking-table.ranking-table--fixed
        thead
          tr
            th Rank
            th State

        tbody
          each value in values
            tr
              td
                = value.rank
              td
                = value.state

    .ranking-table__wrapper
      table.ranking-table.ranking-table--data
        thead
          tr
            th Rank
            th State
            th Population
            th Illegal Debt Collection Complaints
            th Per Capita

        tbody
          each value in values
            tr
              td
                = value.rank

              td
                = value.state

              td
                = value.population

              td
                = value.debt

              td
                = value.perCapita

  .btn-container
    a.btn-go-back(href="index.html")
      | GO BACK TO THE FULL REPORT
