-
  var values = [
   {
     rank: "1",
     state: "DE",
     population: "943,574",
     debt: "422",
     perCapita: "44.72357229"
   },
   {
     rank: "2",
     state: "FL",
     population: "19,596,064",
     debt: "8,314",
     perCapita: "42.42688736"
   },
   {
     rank: "3",
     state: "GA",
     population: "10,039,523",
     debt: "4,258",
     perCapita: "42.41237358"
   },
   {
     rank: "4",
     state: "NV",
     population: "2,860,182",
     debt: "1,144",
     perCapita: "39.99745471"
   },
   {
     rank: "5",
     state: "MD",
     population: "5,941,618",
     debt: "2,297",
     perCapita: "38.65950319"
   },
   {
     rank: "6",
     state: "TX",
     population: "26,910,621",
     debt: "8,646",
     perCapita: "32.12857853"
   },
   {
     rank: "7",
     state: "NJ",
     population: "8,914,109",
     debt: "2,716",
     perCapita: "30.46855272"
   },
   {
     rank: "8",
     state: "CA",
     population: "38,319,249",
     debt: "11,638",
     perCapita: "30.37115889"
   },
   {
     rank: "9",
     state: "AZ",
     population: "6,696,553",
     debt: "1,971",
     perCapita: "29.43305309"
   },
   {
     rank: "10",
     state: "VA",
     population: "8,332,005",
     debt: "2,406",
     perCapita: "28.87660293"
   },
   {
     rank: "11",
     state: "SC",
     population: "4,825,172",
     debt: "1,368",
     perCapita: "28.35132095"
   },
   {
     rank: "12",
     state: "TN",
     population: "6,574,896",
     debt: "1,776",
     perCapita: "27.0118341"
   },
   {
     rank: "13",
     state: "OR",
     population: "3,951,448",
     debt: "983",
     perCapita: "24.8769565"
   },
   {
     rank: "14",
     state: "CO",
     population: "5,289,523",
     debt: "1,298",
     perCapita: "24.5390747"
   },
   {
     rank: "15",
     state: "WA",
     population: "7,018,546",
     debt: "1,65",
     perCapita: "23.50914278"
   },
   {
     rank: "16",
     state: "NY",
     population: "19,671,030",
     debt: "4,534",
     perCapita: "23.04912351"
   },
   {
     rank: "17",
     state: "LA",
     population: "4,702,457",
     debt: "1,07",
     perCapita: "22.7540624"
   },
   {
     rank: "18",
     state: "IL",
     population: "12,893,318",
     debt: "2,911",
     perCapita: "22.57758631"
   },
   {
     rank: "19",
     state: "NC",
     population: "9,990,764",
     debt: "2,19",
     perCapita: "21.92024554"
   },
   {
     rank: "20",
     state: "NM",
     population: "2,088,420",
     debt: "449",
     perCapita: "21.4995068"
   },
   {
     rank: "21",
     state: "CT",
     population: "3,608,902",
     debt: "763",
     perCapita: "21.14216457"
   },
   {
     rank: "22",
     state: "PA",
     population: "12,798,628",
     debt: "2,698",
     perCapita: "21.08038455"
   },
   {
     rank: "23",
     state: "RI",
     population: "1,053,193",
     debt: "222",
     perCapita: "21.07875764"
   },
   {
     rank: "24",
     state: "AL",
     population: "4,903,307",
     debt: "1,029",
     perCapita: "20.9858367"
   },
   {
     rank: "25",
     state: "OH",
     population: "11,571,995",
     debt: "2,368",
     perCapita: "20.46319584"
   },
   {
     rank: "26",
     state: "ID",
     population: "1,423,201",
     debt: "289",
     perCapita: "20.30633762"
   },
   {
     rank: "27",
     state: "HI",
     population: "1,402,963",
     debt: "281",
     perCapita: "20.02903854"
   },
   {
     rank: "28",
     state: "MI",
     population: "9,862,233",
     debt: "1,92",
     perCapita: "19.46820766"
   },
   {
     rank: "29",
     state: "OK",
     population: "3,914,101",
     debt: "737",
     perCapita: "18.82935571"
   },
   {
     rank: "30",
     state: "UT",
     population: "2,925,522",
     debt: "540",
     perCapita: "18.45824437"
   },
   {
     rank: "31",
     state: "ME",
     population: "1,352,466",
     debt: "248",
     perCapita: "18.33687501"
   },
   {
     rank: "32",
     state: "MO",
     population: "6,086,490",
     debt: "1,111",
     perCapita: "18.25354186"
   },
   {
     rank: "33",
     state: "NH",
     population: "1,340,956",
     debt: "236",
     perCapita: "17.59938432"
   },
   {
     rank: "34",
     state: "KY",
     population: "4,444,827",
     debt: "767",
     perCapita: "17.25601469"
   },
   {
     rank: "35",
     state: "MT",
     population: "1,024,744",
     debt: "169",
     perCapita: "16.49192384"
   },
   {
     rank: "36",
     state: "KS",
     population: "2,920,973",
     debt: "477",
     perCapita: "16.33017491"
   },
   {
     rank: "37",
     state: "NE",
     population: "1,888,387",
     debt: "301",
     perCapita: "15.93952934"
   },
   {
     rank: "38",
     state: "AK",
     population: "729,234",
     debt: "116",
     perCapita: "15.90710252"
   },
   {
     rank: "39",
     state: "MS",
     population: "3,021,466",
     debt: "467",
     perCapita: "15.45607331"
   },
   {
     rank: "40",
     state: "MA",
     population: "6,673,128",
     debt: "1,022",
     perCapita: "15.31515655"
   },
   {
     rank: "41",
     state: "IN",
     population: "6,603,597",
     debt: "1,007",
     perCapita: "15.24926491"
   },
   {
     rank: "42",
     state: "MN",
     population: "5,433,318",
     debt: "821",
     perCapita: "15.11047209"
   },
   {
     rank: "43",
     state: "WI",
     population: "5,735,515",
     debt: "847",
     perCapita: "14.76763638"
   },
   {
     rank: "44",
     state: "SD",
     population: "852,311",
     debt: "116",
     perCapita: "13.61005548"
   },
   {
     rank: "45",
     state: "AR",
     population: "3,009,913",
     debt: "400",
     perCapita: "13.28942066"
   },
   {
     rank: "47",
     state: "ND",
     population: "748,142",
     debt: "95",
     perCapita: "12.69812415"
   },
   {
     rank: "48",
     state: "IA",
     population: "3,120,589",
     debt: "387",
     perCapita: "12.40150497"
   },
   {
     rank: "49",
     state: "VT",
     population: "636,905",
     debt: "78",
     perCapita: "12.24672439"
   },
   {
     rank: "50",
     state: "WV",
     population: "1,872,274",
     debt: "225",
     perCapita: "12.0174718"
   },
   {
     rank: "51",
     state: "WY",
     population: "801,824",
     debt: "88",
     perCapita: "10.97497705"
   },
   {
     rank: "52",
     state: "US Total",
     population: "318,044,657",
     debt: "82,228",
     perCapita: "25.8542309"
   }
  ]