h2.section__title.section__title--white Tips for Dealing With Debt Collectors

.tips
  .tips__img-wrapper
    picture
      source(media='(min-width: 1850px)', srcset="images/photo/dealing-1920.png, images/photo/dealing-1920@2x.png 2x")
      source(media='(max-width: 779px)', srcset="images/photo/dealing-320.png, images/photo/dealing-320@2x.png 2x")
      source(media='(max-width: 1019px)', srcset="images/photo/dealing-780.png, images/photo/dealing-780@2x.png 2x")
      source(media='(max-width: 1439px)', srcset="images/photo/dealing-1020.png, images/photo/dealing-1020@2x.png 2x")
      img.tips__img(src="images/photo/dealing.png", srcset="images/photo/dealing@2x.png 2x")

  ul.tips__list
    li.tips__list-item
      p.tips__list-item-text
        span.semibold Do not acknowledge that you owe the debt. 
        | Even if you think there’s a chance that the debt might be valid, do not state this to the agency. Debt collectors will badger you to get you to do this. Don’t do it, because it will reset the clock on the applicable statute of limitations, potentially turning zombie debts into real, live debts.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Immediately request the agency’s contact info. 
        | Ask for the name and mailing address of the agency contacting you. Send written notice disputing the debt and demanding verification within 30 days. The agency is required by law under the FDCPA to provide verification on all debts it attempts to collect.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Beware of multiple agencies collecting the same debt. 
        | Uncollectible debts are bought and sold frequently, so beware of another company attempting to collect a debt you have successfully disputed.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Check for discrepancies. 
        | If the agency provides verification, you should first check the document provided for any discrepancies that might invalidate the debt (i.e. incorrect identifying information). Otherwise, demand that they provide you with copies of the original, signed contract, and documentation of the chain of ownership.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Don’t bail out, or you’ll automatically lose out. 
        | If you find out that you are being sued by a debt collector, whatever you do SHOW UP or RESPOND in writing to the summons. Most cases are won by default when the customer doesn’t show up. Respond in writing - to the court - with a statement that you do not recognize or acknowledge the debt in question, and demand that documentary evidence be provided. Most of the time the debt collector will have the case dismissed - they might not have had any intention of proving the debt’s validity at all!
