button
  font-family: Whitney SSm A, sans-serif

.btn__container
  display: flex
  justify-content: center
  margin-top: 32px

  +respond-to($xsmall)
    margin: 4px 12px 0 12px

.btn__main
  display: inline-block
  font-size: 12px
  line-height: 26px
  font-weight: 600
  text-transform: uppercase
  color: #0e5bb5
  border-radius: 5px
  padding: 14px 24px
  border: 1px solid #d31858
  cursor: pointer
  box-sizing: border-box
  transition: .25s ease-out
  border: 1px solid rgba(14, 91, 181, .3)

  &:after
    content: ''
    display: inline-block
    position: relative
    top: 4px
    width: 20px
    height: 20px
    margin-left: 10px
    background: url('images/icons/btn-icon.svg') center no-repeat

    +respond-to($xsmall)
      display: none

  &:hover
    background: #0e5bb5
    color: #ffffff
    border: 1px solid transparent
    &:after
      background: url('images/icons/btn-icon-hover.svg') center no-repeat
    .btn__main-text
      border-bottom: none

  +respond-to($xsmall)
    width: 100%
    max-width: 300px
    display: block
    padding: 10px 12px
    font-size: 10px
    text-align: center
    margin-top: 12px

.btn__main-text--red
  border-bottom: 1px solid rgba(14, 91, 181, .3)
